Lab 01 : 파이썬 기초 & 자료형
- 목차
    1. 기본문법
    2. 자료형 - **숫자형, 문자열**, 튜플, 딕셔너리, 집합, 불, 변수

# 1. 기본문법
# 1.1 기본 출력 - ```print``` 사용해보기

In [10]:
print('apple')

apple

## 1.2 세미콜론
- 한 줄에 여러 구문을 사용할 때 세미콜론으로 구분한다.

In [11]:
print('apple'); print('1234')

apple
1234

## 1.3 주석
- 한 줄 주석 : ```#``` 붙여주기. 주로 코드 위에 작성하는 게 일반적임.
- 여러줄 주석 : 큰따옴표 3개, 작은따옴표 3개
- 블록 주석 : 전체선택한 후 ```ctrl+/``` 한 블록에 다 주석처리를 해주는 것.

In [1]:
# 한줄 주석 입니다. apple을 출력해보겠습니다.
print('apple')

apple

In [2]:
'''
여러줄 주석입니다.
apple을 출력해보겠습니다.
'''
print('apple')

apple

In [3]:
# 블록 주석입니다. 단축키 : ctrl(cmd) + /
# a = 1 + 2
# print('apple'); print(a)

# 2. 자료형 
**- 숫자형**
**- 문자열**
- 리스트
- 튜플
- 딕셔너리
- 집합
- 불
- 변수 : 자료형의 값을 저장하는 공간

## 2.1 숫자형
- 정수형(integer) : 123, 39, 1, -1
- 실수형(Floating-point) : 12.3, 0.323, 39.15, 1e-3
- 8진수와 16진수

In [18]:
# 정수형
a = 123
b = 25.32 
c = int(b)
print(c)

25

In [82]:
# 실수형
a = 1.2

In [26]:
# 컴퓨터식 지수 표현 방식 : e 사용
a = 1e-3; b=1e2
print(a,b)

0.001 100.0

In [41]:
# 사칙연산
a = 2
b = 0.1
c = 1e1
print(a, b, c)

2 0.1 10.0

In [35]:
a + b + c

12.1

In [36]:
c - (a + b)

7.9

In [37]:
b * c

1.0

In [38]:
a / c

0.2

In [42]:
# 제곱 : c를 a만큼 제곱(10^2)
c ** a

100.0

In [45]:
# 나눗셈 후 나머지를 반환
7 % 3

1

In [46]:
3 % 6

3

In [47]:
# 나눗셈 후 몫을 반환하는 // 연산자
7 // 4

1

In [83]:
9 // 2

4

#### Quiz 1
1. a = 6을 3으로 나눈 값
2. b = 8을 3으로 나눈 나머지
3. c = 7을 3으로 나눈 몫
4. a + b + c 의 값을 구하여라

In [53]:
a = 6 / 3
b = 8 % 3
c = 7 // 3
print(a, b, c)
a + b + c

2.0 2 2

6.0

### 2.2 문자열(String) 
#### 2.2.1 문자열 기본 사용방법
문자열(String) : 문자, 단어 등으로 구성된 문자들의 집합. 따옴표(" ")로 둘러싸여져 있는 것은 모두 문자열이라고 부른다.  
```"Life is too short, You need Python"```

In [56]:
"Hello World"
'Python is fun'
"""Life is too short, You need python"""
'''Life is too short, You need python'''

'Life is too short, You need python'

##### 문자열을 만드는 방법이 왜 4가지나 있는 걸까?
```Python's favorite food is perl```

In [59]:
a = "Python's favorite food is perl"
a

"Python's favorite food is perl"

In [63]:
b = '"Python is very easy." he says.'
b

'"Python is very easy." he says.'

In [64]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [65]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

##### 이스케이프 코드 사용하기
문자열 예제에서 여러 줄의 문장을 처리할 때 백슬래시 문자와 소문자 n을 조합한 ```\n``` 이스케이프 코드를 사용했다. 이스케이프 코드란 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 "문자 조합"이다. 주로 출력물을 보기 좋게 정렬하는 용도로 사용한다. 몇 가지 이스케이프 코드를 정리하면 다음과 같다.

| 코드 | 설명                     |
|----|------------------------|
| ```\n``` | 문자열 안에서 줄을 바꿀 때 사용     |
| ```\t``` | 문자열 사이에 탭 간격을 줄 때 사용   |
| ```\\``` | 문자 \를 그대로 표현할 때 사용     |
| ```\'``` | 작은따옴표(')를 그대로 표현할 때 사용 |
| ```\"``` | 큰따옴표(")를 그대로 표현할 때 사용  |

#### 2.2.2 문자열 연산하기
##### 문자열 연산하기 - 문자열 더해서 연걸하기(Concatenation)

In [7]:
head = "I like"
tail = " Apple"
a = head + tail
print(a)

I like Apple

##### 문자열 연산하기 - 문자열 곱하기

In [5]:
b = "python"
b * 2

'pythonpython'

##### 문자열 연산하기 - 문자열 길이 구하기

In [8]:
len(a)

12

#### 2.2.3 문자열 인덱싱과 슬라이싱
- 문자열 인덱싱 기법과 슬라이싱 기법은 리스트나 튜플에서도 사용되며, 데이터 처리를 할 때 정말 많은 곳에서 사용되는 가장 기본적이고 중요한 기법이므로 잘 익혀두도록 하자.
##### 문자열 인덱싱

In [16]:
a

'I like Apple'

In [24]:
a[0]

'I'

In [25]:
a[11]

'e'

In [26]:
a[-1]

'e'

In [28]:
a[-12]

'I'

##### 문자열 슬라이싱

In [33]:
a

'I like Apple'

인덱싱과 문자열 연산을 통해서 like만 뽑아내보자.

In [40]:
a[2] + a[3] + a[4] + a[5]

'like'

하나하나 인덱싱하여 덧셈을 해주는 방식은 너무 비효율적이라고 생각이 든다.   
그래서 우리는 슬라이싱 방법을 사용해줄 것이다.   
슬라이싱 방법을 사용하여 like를 뽑아내기 위해 2부터 5까지 슬라이싱을 해보자.

In [41]:
a[2:5]

'lik'

2부터 5까지 슬라이싱을 했더니 2부터 4까지 뽑아진 것을 볼 수 있다.   
즉 슬라이싱에서 ```[n:m]```을 할 경우, ```n```부터 ```(m-1)```까지 뽑힌다.   
따라서 ```like```를 뽑기 위해선 2부터 5까지가 아닌 2부터 6(=5-1)까지 뽑아야 한다.

In [42]:
a[2:6]

'like'

- 처음부터, 특정 부분까지
- 특정 부분부터, 끝까지    
- 처음부터 끝까지   
슬라이싱하는 방법을 배워보자.

In [50]:
# 처음부터 특정 부분까지 : I부터 e까지 뽑아주자.
a[:6]

'I like'

In [46]:
# 특정 부분부터 끝까지 : l부터 끝까지 뽑아주자.
a[2:]

'like Apple'

In [47]:
# 전체 슬라이싱
a[:]

'I like Apple'

##### 슬라이싱으로 문자열 나누기

In [70]:
a = "20010630Rainy"
year = a[:4]
month = a[4:6]
date = a[6:8]
weather = a[8:]

In [65]:
year

'2001'

In [66]:
month

'03'

In [67]:
date

'31'

In [69]:
weather

'Rainy'

> Quiz. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.  
> license_plate = "24가 2210"

#### 2.2.4 문자열 포매팅
문자열에서 또 하나 알아야 할 것으로는 문자열 포매팅(Formatting)이 있다. 이것을 공부하기 전에 다음과 같은 문자열을 출력하는 프로그램을 작성했다고 가정해 보자.

"현재 온도는 18도입니다."

시간이 지나서 20도가 되면 다음 문장을 출력한다.

"현재 온도는 20도입니다"

위 두 문자열은 모두 같은데 20이라는 숫자와 18이라는 숫자만 다르다. 이렇게 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

쉽게 말해 문자열 포매팅이란 **문자열 안에 어떤 값을 삽입하는 방법**이다. 다음 예를 직접 실행해 보면서 그 사용법을 알아보자.

| 코드 | 설명                   |
|----|----------------------|
| ```%s``` | 문자열(String)          |
| `%c` | 문자 1개(character)     |
| `%d` | 정수(Integer)          |
| `%f` | 부동소수(floating-point) |
| `%o` | 8진수                  |
| `%x` | 16진수                 |
| `%%` | Literal % (문자 % 자체)  |

In [76]:
# 숫자 바로 대입 : %d 문자를 넣어주고, 삽입할 숫자는 가장 뒤에 있는 %문자 다음에 써넣는다. 
"I eat %d apples." %5

'I eat 5 apples.'

In [77]:
# 문자열 바로 대입
"I eat %s apples." %"five"

'I eat five apples.'

In [78]:
# 숫자 값을 나타내는 변수로 대입
number = 5
"I eat %d apples." %number

'I eat 5 apples.'

In [79]:
# 2개 이상의 값 넣기(응용)
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [80]:
# 정렬과 공백
"%10s" % "hi"

'        hi'

앞의 예문에서 `%10s`는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.  
그렇다면 반대쪽인 왼쪽 정렬은 `%-10s`가 될 것이다. 확인해 보자.

In [81]:
"%-10sjane." % 'hi'

'hi        jane.'

hi를 왼쪽으로 정렬하고 나머지는 공백으로 채웠음을 볼 수 있다.

In [93]:
"%0.4f" % 3.42134234

'3.4213'

In [94]:
"%10.4f" % 3.42134234

'    3.4213'

format 함수를 사용한 포매팅

In [98]:
"I eat {0} apples".format("3")

'I eat 3 apples'

In [99]:
"I eat {0} apples".format("three")

'I eat three apples'

In [101]:
number = 5
"I eat {0} apples".format(number)

'I eat 5 apples'

In [102]:
number = 5
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 5 apples. so I was sick for three days.'

In [103]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [105]:
name = '홍길동'
food = 'apple'
age = 25
f'나의 이름은 {name}입니다. 나의 나이는 {age}살 입니다. 나는 {food}를 좋아합니다.'

'나의 이름은 홍길동입니다. 나의 나이는 25살 입니다. 나는 apple를 좋아합니다.'

In [107]:
name = '홍길동'
food = 'apple'
age = 26
f'나의 이름은 {name}입니다. 내년에 나는 {age}살이 됩니다. 나는 {food}를 좋아합니다.'

'나의 이름은 홍길동입니다. 내년에 나는 26살이 됩니다. 나는 apple를 좋아합니다.'

문자 개수 세기(`count`)

In [108]:
a = "hobby"
a.count('b')

2

위치 알려주기1(`find`)

In [109]:
a = "Python is the best choice"
a.find('b')

14

In [110]:
a.find('k')

-1

문자열 중 문자 b가 처음으로 나온 위치를 반환한다. 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

위치 알려주기2(`index`)

In [111]:
a = "Life is too short"
a.index('t')

8

In [113]:
a.index('k')

ValueError: substring not found

문자열 삽입(`join`)

In [114]:
",".join('abcd')

'a,b,c,d'

In [115]:
"-".join('efgh')

'e-f-g-h'

소문자를 대문자로 바꾸기(`upper`)

In [116]:
a = 'hi'
a.upper()

'HI'

대문자를 소문자로 바꾸기(`lower`)

In [117]:
a = "HI"
a.lower()

'hi'

`lower`함수는 대문자를 소문자로 바꾸어 준다.

왼쪽 공백 지우기(`lstrip`) 오른쪽 공백 지우기(`rstrip`), 양쪽 공백 지우기(`strip`)

In [118]:
a = "   hi "
a.lstrip()

'hi '

In [119]:
a = "   hi  "
a.rstrip()

'   hi'

In [120]:
a = "   hi  "
a.strip()

'hi'

문자열 바꾸기(`replace`)

In [122]:
>>> a = "Life is too short"
>>> a.replace("Life", "Your leg")

'Your leg is too short'

Quiz. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
> phone_number = "010-5050-5050"

문자열 나누기(`split`)

In [126]:
>>> a = "Life is too short"
>>> b = "a:b:c:d" 
>>> c = "a_b_c_d"
>>> print(a.split(), b.split(':'), c.split("_"))

['Life', 'is', 'too', 'short'] ['a', 'b', 'c', 'd'] ['a', 'b', 'c', 'd']

split 함수는 `a.split()`처럼 괄호 안에 아무 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다.   
만약 `b.split(':')`처럼 괄호 안에 특정 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나누어 준다. 이렇게 나눈 값은 리스트에 하나씩 들어가게 된다.   
`['Life', 'is', 'too', 'short']`나 `['a', 'b', 'c', 'd']`가 리스트인데 02-3에서 자세히 알아볼 것이니 여기에서는 너무 신경 쓰지 않아도 된다.  

위에서 소개한 문자열 관련 함수는 문자열 처리에서 사용 빈도가 매우 높고 유용하다. 이 외에도 몇 가지가 더 있지만 자주 사용되지는 않는다.