[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/HongB1/2022-KHU-Bioinformatics-lab/blob/master/code/%EA%B3%BC%EC%A0%9C%20%EC%A0%95%EB%8B%B5.ipynb)

# 220915 목요일 수업 과제 정답

In [ ]:
num = int(input())
if num <= 0:
    print('1이상의 숫자를 입력해주세요')
else:
    print(f'{num}단')
    for i in range(1,10):
        if (i%2) == 0:
            continue # 홀수만 출력해야 하니 출력하지 않습니다.
        if (i*num) > 50:
            continue # 50 초과는 출력하지 않습니다.
        print(f'{num} x {i} = {i*num}')

In [ ]:
numbers = [i for i in range(n, m+1)] 

numbers = []
for i in range(n, m+1):
    numbers.append(i)

In [5]:
n = 2
m = 15
numbers = [i for i in range(n, m+1)] 
numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [6]:
median = numbers[(len(numbers)-1)//2]

In [7]:
median

8

In [ ]:
n = int(input())
m = int(input())
numbers = [i for i in range(n, m+1)] 
numbers
median = numbers[(len(numbers)-1)//2]
for num in numbers:
    if (num%2) == 0 :
        if num == median:
            # print(f'{num} 짝수')
            print(f'{num} 짝수이며 중앙값')
        else: print(f'{num} 짝수')

In [8]:
def calculate_num(n, m):
    numbers = [i for i in range(n, m+1)] 
    numbers
    median = numbers[(len(numbers)-1)//2]
    for num in numbers:
        if (num%2) == 0 :
            if num == median:
                # print(f'{num} 짝수')
                print(f'{num} 짝수이며 중앙값')
            else: print(f'{num} 짝수')

In [10]:
'''
Quiz. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.
그 후 파라미터를 3, 4로 받아서 출력해보자.
'''

def print_arithmetic_operation(a, b):
    _add = a+b
    _sub = a-b
    _mul = a*b
    _div = a/b
    return _add, _sub, _mul, _div
x, y, z, w = print_arithmetic_operation(3, 4)
print(f'3 + 4 = {x}')

3 + 4 = 7

In [9]:
calculate_num(3, 10)

4 짝수
6 짝수이며 중앙값
8 짝수
10 짝수

In [11]:
'''
Quiz : 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라. 
파라미터의 인자로 'naver'를 넣어서 'www.naver.com'을 출력해봐라
'''
def make_url(url):
    print(f'www.{url}.com')

In [12]:
make_url('naver')

www.naver.com

# 220913 화요일 수업 과제 정답

In [4]:
num = -1
if num <= 0:
    print('1이상의 숫자를 입력해주세요')
else:
    print(f'{num}단')
    for i in range(1,10):
        if (i%2) == 0:
            continue # 홀수만 출력해야 하니 출력하지 않습니다.
        if (i*num) > 50:
            continue # 50 초과는 출력하지 않습니다.
        print(f'{num} x {i} = {i*num}')

1이상의 숫자를 입력해주세요

In [11]:
n = int(input())
m = int(input())
numbers = [i for i in range(n, m+1)] 
numbers
median = numbers[(len(numbers)-1)//2]
for num in numbers:
    if (num%2) == 0 :
        if num == median:
            print(f'{num} 짝수')
            print(f'{num} 중앙값')
        else: print(f'{num} 짝수')

2 짝수
4 짝수
6 짝수
8 짝수
8 중앙값
10 짝수
12 짝수
14 짝수

In [10]:
median

8.5

N과 M을 입력 받아 다음과 같은 수식의 결과를 얻는 프로그램을 작성하시오.  
$N^1 + N^2 + N^3 + ... + N^{M-1} + N^M$

In [14]:
n = int(input())
m = int(input())
result = 0
for i in range(1, m+1):
    result += n ** i
print(result)

30

In [ ]:
''' 
Test1. 온라인 할인 쿠폰 시스템 만들기
가격(int)과 쿠폰(str)이 각 줄에 입력됩니다. 
쿠폰 2종류 : Cash3000 - 3,000원 할인, Cash5000 쿠폰은 5,000원을 할입합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요 
(input사용. input에서 안내 문자열은 출력하지 않아야 합니다.)
1번. 입력 : 가격 72000원 쿠폰 Cash5000 / 출력 : 67000
2번. 입력 : 가격 33000원 쿠폰 Cash3000 / 출력 : 30000

'''
price = int(input())
coupon = input()

if coupon == 'Cash3000':
    price -= 3000
    print(f"{coupon}을 사용, 최종 가격은 {price}원입니다.")
elif coupon == 'Cash5000':
    price -= 5000
    print(f"{coupon}을 사용, 최종 가격은 {price}원입니다.")
else : print(f"할인이 되지 않았습니다. 가격은 {price}원입니다.")

In [ ]:
''' 과제
Test2. 표준 입력으로 나이가 입력됩니다. 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

- 어린이(초등학생, 12세 이하): 650원
- 청소년(중∙고등학생, 13세 이상 18세 이하): 1,050원
- 어른(일반, 19세 이상): 1,250원
'''

age = int(input())
balance = 9000 # 교통카드 잔액
child_fee = 650
teen_fee = 1050
adult_fee = 1250

if age <= 12: 
    fee = child_fee
elif 13 <= age <= 18:
    fee = teen_fee
elif age >= 19:
    fee = adult_fee
balance -= fee
print(f'요금은 {fee}원이며, 잔액은 {balance}원 남았습니다.') 
# print(balance)

In [ ]:
name = input("이름을 입력해주세요: ")
score = int(input("점수를 입력해주세요: "))
grade_list = ["F", "D", "D+", "C", "C+", "B", "B+", "A", "A+"]
if score < 0 or score > 100:
    print("오류\n")
    print("0 ~ 100점 사이의 점수를 입력해주세요.")
elif 60 <= score < 100:
    grade = grade_list[(score - 55) // 5]
elif score == 100:
    grade = 'A+'
elif score < 60:
    grade = "F"
		
print(f'학생 이름: {name}')
print(f'점수: {score}')
print(f'학점: {grade}')

In [ ]:
def get_grade(score):
    grade_list = ["F", "D", "D+", "C", "C+", "B", "B+", "A", "A+"]
    if score < 0 or score > 100:
        print("오류!\n")
        print("점수는 0 ~ 100점 사이입니다.")
        exit()
    else:
        grade = grade_list[(score - 55) // 5]
        return grade


name = input("이름을 입력해주세요: ")
score = int(input("점수를 입력해주세요: "))
grade = get_grade(score)

print("**********************************")
print("학생 이름: ", name)
print("점수: ", score)
print("학점: ", grade)
print("**********************************")

In [ ]:
monthly_payment = int(300)
yearly_payment = monthly_payment*12


if yearly_payment <= 1200:
    tax_rate = 0.06
elif yearly_payment <= 4600:
    tax_rate = 0.15
elif yearly_payment <= 8800:
    tax_rate = 0.24
elif yearly_payment <= 15000:
    tax_rate = 0.35
elif yearly_payment <= 30000:
    tax_rate = 0.38
elif yearly_payment <= 50000:
    tax_rate = 0.40
else:
    tax_rate = 0.42

tax = int(yearly_payment * tax_rate)

print(f'세전 연봉: {yearly_payment}만원')
print(f'세후 연봉: {yearly_payment-tax}만원')

In [5]:
a = [1, 2, 3, 4]
a.append([1, 2])
a

[1, 2, 3, 4, [1, 2]]

In [4]:
a = [1, 2, 3, 4]
a.extend([1, 2])
a

[1, 2, 3, 4, 1, 2]

In [6]:
a = [1, 2, 3, 4]
a.append(1)
a.append(2)
a

[1, 2, 3, 4, 1, 2]

# 220908 목요일 수업 과제 정답

In [ ]:
# 220908 Test1.
gdp_2020 = ("USA", "China", "EU", "Japan", "Germany")
#print(type(gdp_2020))
gdp_2022 = list(gdp_2020)
gdp_2022[2] = "UK"
gdp_2022[3] = "Korea"
#print(gdp_2022)

print(f'2020년의 국가별 명목 GDP, Top5 : {gdp_2020}')
print(f'2022년의 국가별 명목 GDP, Top5 : {gdp_2022}')

In [ ]:
# 220908 Test2.

gdp_2022 = ['USA', 'China', 'UK', 'Korea', 'Germany']

gdp_2022.extend(['Japan', 'India', 'France', 'Canada', 'Italy'])
# gdp_2022 += ['Japan', 'India', 'France', 'Canada', 'Italy']

print(f'2022년의 GDP 생산량의 1~10위는 다음과 같고 {gdp_2022}')
print(f'2022년의 GDP 생산량 1~2위는 {gdp_2022[0:2]}이고, 9~10위는 {gdp_2022[-2:]}이다')

In [ ]:
# 220908 Test3.
gdp_2022 = {'USA':2500, 'China':2000, 'Japan':500, 'Germany':430, 'UK':340}

gdp_2022['India'] = 330

dic_keys = gdp_2022.keys()
dic_values = gdp_2022.values()

print(gdp_2022)
print(dic_keys)
print(dic_values)



# 220906 수업과제

In [1]:
# Test1
string = input()
a = string[0]
b = string[-1]
print(a+b)

pn

In [2]:
# Test2
x = "My name is Ella"
y = "My name is Eric"
x_slicing = x[-4:]
y_slicing = y[-4:]

print("Her name is {} and his name is {}".format(x_slicing, y_slicing))

Her name is Ella and his name is Eric

In [3]:
# Test3
x = "My name is Ella"
y = "My name is Eric"
x_slicing = x[-4:]
y_slicing = y[-4:]
print(f'Her name is {x_slicing} and his name is {y_slicing}')

Her name is Ella and his name is Eric

In [4]:
# Test4
y = "My name is Eric"
name = input()
print(y.replace("Eric", name))

My name is jenny

In [5]:
# Test5
x = 'Ella-Eric-William'

print(x.split('-'))

['Ella', 'Eric', 'William']