In [ ]:
# colab mount를 진행합니다.
from google.colab import drive
drive.mount('/content/drive')

In [1]:
# 파이썬에서 쓸 수 있는 엑셀과도 유사한 판다스 라이브러리를 불러옵니다.
import pandas as pd

In [3]:
# repress, active1, active2 파일을 로드해서 repress, active1, active2 라는 변수에 담습니다.
## repress : repressedEnhancer
## active1 : EP300_1
## active2 : EP300_2

repress = pd.read_table("./sorted.repressedEnhancer.EZH2.both0.50.intersect.wMergedHistones.gencode.v34lift37.annotation.bed",header=None)
active1 = pd.read_table("./sorted.activeEnhancer.EP300_1.both0.50.intersect.wMergedHistones.gencode.v34lift37.annotation.bed",header=None)
active2 = pd.read_table("./sorted.activeEnhancer.EP300_2.both0.50.intersect.wMergedHistones.gencode.v34lift37.annotation.bed",header=None)

In [4]:
repress = pd.read_table("sorted.repressedEnhancer.EZH2.both0.50.intersect.wMergedHistones.gencode.v34lift37.annotation.bed",header=None)
active1 = pd.read_table("sorted.activeEnhancer.EP300_1.both0.50.intersect.wMergedHistones.gencode.v34lift37.annotation.bed",header=None)
active2 = pd.read_table("sorted.activeEnhancer.EP300_2.both0.50.intersect.wMergedHistones.gencode.v34lift37.annotation.bed",header=None)

In [188]:
# head 로 파일을 미리보기 합니다.

active1.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,chr1,1217050,1217426,.,866,.,26.36167,-1.0,0.97528,188,...,170,chr1,1215816,1227409,ENSG00000162572.21_5,SCNN1D,protein_coding,HAVANA,full_contig,0
1,chr1,3585407,3585783,.,650,.,24.96101,-1.0,0.96919,188,...,114,chr1,3569080,3652765,ENSG00000078900.15_8,TP73,protein_coding,HAVANA,full_contig,0
2,chr1,6264932,6265308,.,676,.,23.20480,-1.0,0.94664,188,...,244,chr1,6245080,6269449,ENSG00000116251.11_7,RPL22,protein_coding,HAVANA,full_contig,0
3,chr1,6264932,6265308,.,676,.,23.20480,-1.0,0.94664,188,...,244,chr1,6264900,6265840,ENSG00000226944.1_8,AL031847.1,lncRNA,HAVANA,full_contig,0
4,chr1,6264932,6265308,.,676,.,23.20480,-1.0,0.94664,188,...,183,chr1,6245080,6269449,ENSG00000116251.11_7,RPL22,protein_coding,HAVANA,full_contig,0

In [190]:
# tail 로 파일을 미리보기 합니다.

active1.tail()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
2170,chrX,40372456,40372832,.,624,.,8.22915,-1.0,0.08034,188,...,366,chrX,40374147,40374760,ENSG00000235685.2_6,AC092473.1,processed_pseudogene,HAVANA,full_contig,1316
2171,chrX,73157671,73158047,.,773,.,25.02598,-1.0,0.97058,188,...,352,chrX,73160270,73513409,ENSG00000230590.11_8,FTX,lncRNA,HAVANA,full_contig,2224
2172,chrX,117973548,117973924,.,588,.,15.79636,-1.0,0.82136,188,...,255,chrX,117973502,118053632,ENSG00000203650.9_7,LINC01285,lncRNA,HAVANA,full_contig,0
2173,chrX,117973548,117973924,.,588,.,15.79636,-1.0,0.82136,188,...,306,chrX,117973502,118053632,ENSG00000203650.9_7,LINC01285,lncRNA,HAVANA,full_contig,0
2174,chrX,122957067,122957443,.,597,.,8.42615,-1.0,0.09146,188,...,309,chrX,122990912,122991013,ENSG00000199705.1,Y_RNA,misc_RNA,ENSEMBL,automatic_small_ncrna_gene,33470

In [8]:
# pd.concat 함수를 이용해서 active1와 active를 active라는 변수로 concatenate합니다.
active = pd.concat((active1,active2))

In [191]:
# head로 active를 미리보기 합니다.
active.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,chr1,1217050,1217426,.,866,.,26.36167,-1.0,0.97528,188,...,170,chr1,1215816,1227409,ENSG00000162572.21_5,SCNN1D,protein_coding,HAVANA,full_contig,0
1,chr1,3585407,3585783,.,650,.,24.96101,-1.0,0.96919,188,...,114,chr1,3569080,3652765,ENSG00000078900.15_8,TP73,protein_coding,HAVANA,full_contig,0
2,chr1,6264932,6265308,.,676,.,23.20480,-1.0,0.94664,188,...,244,chr1,6245080,6269449,ENSG00000116251.11_7,RPL22,protein_coding,HAVANA,full_contig,0
3,chr1,6264932,6265308,.,676,.,23.20480,-1.0,0.94664,188,...,244,chr1,6264900,6265840,ENSG00000226944.1_8,AL031847.1,lncRNA,HAVANA,full_contig,0
4,chr1,6264932,6265308,.,676,.,23.20480,-1.0,0.94664,188,...,183,chr1,6245080,6269449,ENSG00000116251.11_7,RPL22,protein_coding,HAVANA,full_contig,0

In [192]:
# head로 repress를 미리보기 합니다.
repress.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,chr1,855129,855773,.,774,.,36.28270,-1.0,4.06292,322,...,203,chr1,852245,856396,ENSG00000223764.2_8,LINC02593,lncRNA,HAVANA,full_contig,0
1,chr1,858889,859234,.,789,.,37.76190,-1.0,4.06292,154,...,297,chr1,859308,879961,ENSG00000187634.12_9,SAMD11,protein_coding,HAVANA,full_contig,75
2,chr1,860975,861967,.,1000,.,43.99065,-1.0,4.06292,678,...,599,chr1,859308,879961,ENSG00000187634.12_9,SAMD11,protein_coding,HAVANA,full_contig,0
3,chr1,860975,861967,.,1000,.,43.99065,-1.0,4.06292,678,...,268,chr1,859308,879961,ENSG00000187634.12_9,SAMD11,protein_coding,HAVANA,full_contig,0
4,chr1,860975,861967,.,1000,.,99.08340,-1.0,4.06292,477,...,599,chr1,859308,879961,ENSG00000187634.12_9,SAMD11,protein_coding,HAVANA,full_contig,0

## column 정보

### represssor or active info
    "chrom","chromStart","chromEnd","string name","score","strand","signalValue","pValue","qValue","peak",  
### Histone info
    "Histone","Histone chrom","HchromStart","HchromEnd","Hstring name","Hscore","Hstrand","HsignalValue","HpValue","HqValue","Hpeak",
### genecode info
    "seqname", "start","end","gene_id","gene_name","gene_type","source","remap_status","distance with gene"

### 우리가 실습을 진행하는 데 필요한 정보(컬럼)
```python
column_names = ["Histone", "HsignalValue", "seqname", "start","end", "gene_name", "distance with gene"]
```

In [195]:
column_names = ["Histone", "HsignalValue", "seqname", "start","end", "gene_name", "distance with gene"]

In [197]:
# repress에서 repressive enhancer와 관련된 필요한 컬럼만 뽑아냅니다.
## dataframe.loc[:,[____________]] 를 사용하여 [____________] 안에 필요한 컬럼의 순서를 입력하시오. 
ezh2 = repress.loc[:,[10,17,21,22,23,25,29]]

# 컬럼명을 위에서 정의해 준 column_names 변수를 이용하여 바꿔주세요.
ezh2.columns = column_names
ezh2

,Histone,HsignalValue,seqname,start,end,gene_name,distance with gene
0,H3K27me3_2.bed,5.36218,chr1,852245,856396,LINC02593,0
1,H3K4me3_1.bed,7.76733,chr1,859308,879961,SAMD11,75
2,H3K27me3_1.bed,6.83947,chr1,859308,879961,SAMD11,0
3,H3K27me3_2.bed,7.76273,chr1,859308,879961,SAMD11,0
4,H3K27me3_1.bed,6.83947,chr1,859308,879961,SAMD11,0
...,...,...,...,...,...,...,...
9036,H3K27me3_1.bed,3.63738,chrX,153067621,153096020,PDZD4,720
9037,H3K27me3_1.bed,7.63849,chrX,153903526,153979858,GAB3,0
9038,H3K4me1.bed,3.45406,chrX,153903526,153979858,GAB3,0
9039,H3K4me2.bed,8.02465,chrX,153903526,153979858,GAB3,0
9040,H3K4me2.bed,8.02465,chrX,153903526,153979858,GAB3,0

In [198]:
# active에서 active enhancer와 관련된 필요한 컬럼만 뽑아냅니다.
## dataframe.loc[:,[____________]] 를 사용하여 [____________] 안에 필요한 컬럼의 순서를 입력하시오. 
ep300 = active.loc[:,[10,17,21,22,23,25,29]]

# 컬럼명을 위에서 정의해 준 column_names 변수를 이용하여 바꿔주세요.
ep300.columns = column_names
ep300

,Histone,HsignalValue,seqname,start,end,gene_name,distance with gene
0,H3K4me3_2.bed,3.81197,chr1,1215816,1227409,SCNN1D,0
1,H3K4me3_1.bed,7.62992,chr1,3569080,3652765,TP73,0
2,H3K4me1.bed,5.51486,chr1,6245080,6269449,RPL22,0
3,H3K4me1.bed,5.51486,chr1,6264900,6265840,AL031847.1,0
4,H3K4me3_2.bed,7.04172,chr1,6245080,6269449,RPL22,0
...,...,...,...,...,...,...,...
8161,H3K9ac.bed,4.33856,chrX,153275957,153285353,IRAK1,0
8162,H3K79me2.bed,4.90406,chrX,153287024,153402578,MECP2,0
8163,H3K36me3.bed,4.41572,chrX,153576892,153603006,FLNA,0
8164,H3K4me2.bed,3.32335,chrX,153576892,153603006,FLNA,0
8165,H3K4me2.bed,5.18598,chrY,16634453,16957530,NLGN4Y,0

In [52]:
# chrom + chromStart + chromEnd -> Pos (chr:####-####)
# Histone.bed -> Histone
# 동일한 gene에서 같은 종류의 histone이 발견되면 distance가 적은 걸로, distance가 같으면 HsignalValue가 큰 값을 남기기

def reshape_df(df):
    df['Pos'] = 'tmp'
    df['start'] = df['start'].apply(lambda x: str(x))
    df['end'] = df['end'].apply(lambda x: str(x))
    
    Pos = df['chr'] + ':' + df['start'] + '-' + df['end']
    df['Pos'] = Pos

    df['Histone'] = df['Histone'].apply(lambda x : x.split('.')[0].split('_')[0])

    result = df.reindex(columns=['Pos', 'gene_name', 'distance with gene', 'Histone', 'HsignalValue'])
    return result

In [199]:
# chrom + chromStart + chromEnd -> Pos (chr:####-####)
# Histone.bed -> Histone
# 동일한 gene에서 같은 종류의 histone이 발견되면 distance가 적은 걸로, distance가 같으면 HsignalValue가 큰 값을 남기기

def reshape_df(df):
    df['Pos'] = 'tmp'
    
    for idx in range(len(df)):
        df['Pos'][idx] = f'{df["chr"][idx]}:{df["start"][idx]}-{df["end"][idx]}'
        df['Histone'][idx] = df['Histone'][idx].split('.')[0].split('_')[0]

    result = df.reindex(columns=['Pos', 'gene_name', 'distance with gene', 'Histone', 'HsignalValue'])
    return result

In [200]:
ep300 = ep300.reset_index(drop=True)
ep300

,Histone,HsignalValue,seqname,start,end,gene_name,distance with gene
0,H3K4me3_2.bed,3.81197,chr1,1215816,1227409,SCNN1D,0
1,H3K4me3_1.bed,7.62992,chr1,3569080,3652765,TP73,0
2,H3K4me1.bed,5.51486,chr1,6245080,6269449,RPL22,0
3,H3K4me1.bed,5.51486,chr1,6264900,6265840,AL031847.1,0
4,H3K4me3_2.bed,7.04172,chr1,6245080,6269449,RPL22,0
...,...,...,...,...,...,...,...
10336,H3K9ac.bed,4.33856,chrX,153275957,153285353,IRAK1,0
10337,H3K79me2.bed,4.90406,chrX,153287024,153402578,MECP2,0
10338,H3K36me3.bed,4.41572,chrX,153576892,153603006,FLNA,0
10339,H3K4me2.bed,3.32335,chrX,153576892,153603006,FLNA,0
10340,H3K4me2.bed,5.18598,chrY,16634453,16957530,NLGN4Y,0

In [62]:
EZH2 = reshape_df(ezh2)
EP300 = reshape_df(ep300)

/var/folders/0g/gwx4n2qn4hgd1lx3_hf50ffr0000gn/T/ipykernel_6486/656306647.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Pos'][idx] = f'{df["chr"][idx]}:{df["start"][idx]}-{df["end"][idx]}'
/var/folders/0g/gwx4n2qn4hgd1lx3_hf50ffr0000gn/T/ipykernel_6486/656306647.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Histone'][idx] = df['Histone'][idx].split('.')[0].split('_')[0]
/var/folders/0g/gwx4n2qn4hgd1lx3_hf50ffr0000gn/T/ipykernel_6486/656306647.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Pos'][idx] = f'{df["chr"][idx]}:{df["start"][idx]}-{df["end"][idx]}'
/var/folders/0g/gwx4n2qn4hgd1lx3_hf50ffr0000gn/T/ipykernel_6486/656306647.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Histone'][idx] = df['Histone'][idx].split('.')[0].split('_')[0]

In [64]:
ezh2

,Histone,HsignalValue,chr,start,end,gene_name,distance with gene,Pos
0,H3K27me3,5.36218,chr1,852245,856396,LINC02593,0,chr1:852245-856396
1,H3K4me3,7.76733,chr1,859308,879961,SAMD11,75,chr1:859308-879961
2,H3K27me3,6.83947,chr1,859308,879961,SAMD11,0,chr1:859308-879961
3,H3K27me3,7.76273,chr1,859308,879961,SAMD11,0,chr1:859308-879961
4,H3K27me3,6.83947,chr1,859308,879961,SAMD11,0,chr1:859308-879961
...,...,...,...,...,...,...,...,...
9036,H3K27me3,3.63738,chrX,153067621,153096020,PDZD4,720,chrX:153067621-153096020
9037,H3K27me3,7.63849,chrX,153903526,153979858,GAB3,0,chrX:153903526-153979858
9038,H3K4me1,3.45406,chrX,153903526,153979858,GAB3,0,chrX:153903526-153979858
9039,H3K4me2,8.02465,chrX,153903526,153979858,GAB3,0,chrX:153903526-153979858
9040,H3K4me2,8.02465,chrX,153903526,153979858,GAB3,0,chrX:153903526-153979858

In [65]:
EZH2['enhancer'] = 'EZH2'
EP300['enhancer'] = 'EP300'

In [68]:
concatDF = pd.concat([EZH2, EP300])
concatDF.reset_index(drop=True, inplace=True)
concatDF

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
0,chr1:852245-856396,LINC02593,0,H3K27me3,5.36218,EZH2
1,chr1:859308-879961,SAMD11,75,H3K4me3,7.76733,EZH2
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
...,...,...,...,...,...,...
19377,chrX:153275957-153285353,IRAK1,0,H3K9ac,4.33856,EP300
19378,chrX:153287024-153402578,MECP2,0,H3K79me2,4.90406,EP300
19379,chrX:153576892-153603006,FLNA,0,H3K36me3,4.41572,EP300
19380,chrX:153576892-153603006,FLNA,0,H3K4me2,3.32335,EP300
19381,chrY:16634453-16957530,NLGN4Y,0,H3K4me2,5.18598,EP300

In [71]:
len(concatDF['gene_name'].unique())

7385

In [70]:
concatDF[concatDF['gene_name']=='SAMD11']

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
1,chr1:859308-879961,SAMD11,75,H3K4me3,7.76733,EZH2
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
5,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
6,chr1:859308-879961,SAMD11,0,H3K27me3,8.16884,EZH2
7,chr1:859308-879961,SAMD11,0,H3K27me3,5.45606,EZH2
8,chr1:859308-879961,SAMD11,0,H3K4me1,3.66994,EZH2
9,chr1:859308-879961,SAMD11,0,H3K27me3,4.37253,EZH2
10,chr1:859308-879961,SAMD11,0,H3K27me3,4.41334,EZH2
11,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
12,chr1:859308-879961,SAMD11,0,H3K4me1,4.61581,EZH2
13,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
14,chr1:859308-879961,SAMD11,0,H3K4me1,4.61581,EZH2
15,chr1:859308-879961,SAMD11,0,H3K4me3,4.00192,EZH2
16,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2

In [164]:
concatDF

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
0,chr1:852245-856396,LINC02593,0,H3K27me3,5.36218,EZH2
1,chr1:859308-879961,SAMD11,75,H3K4me3,7.76733,EZH2
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
...,...,...,...,...,...,...
19377,chrX:153275957-153285353,IRAK1,0,H3K9ac,4.33856,EP300
19378,chrX:153287024-153402578,MECP2,0,H3K79me2,4.90406,EP300
19379,chrX:153576892-153603006,FLNA,0,H3K36me3,4.41572,EP300
19380,chrX:153576892-153603006,FLNA,0,H3K4me2,3.32335,EP300
19381,chrY:16634453-16957530,NLGN4Y,0,H3K4me2,5.18598,EP300

In [76]:
SAMD11 = concatDF[concatDF['gene_name']=='SAMD11']

In [87]:
len(SAMD11[SAMD11.duplicated(subset='Histone', keep=False)]) > 0

True

In [88]:
unique_histone_list = SAMD11['Histone'].unique()

In [89]:
unique_histone_list

array(['H3K4me3', 'H3K27me3', 'H3K4me1'], dtype=object)

In [107]:
H3K4me3

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
1,chr1:859308-879961,SAMD11,75,H3K4me3,7.76733,EZH2
15,chr1:859308-879961,SAMD11,0,H3K4me3,4.00192,EZH2
16,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2

In [106]:
H3K4me3 = SAMD11[SAMD11['Histone']=='H3K4me3']
H3K4me3['distance with gene'].argmax()

0

In [110]:
H3K4me3[H3K4me3['distance with gene'] == H3K4me3['distance with gene'].min()]

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
15,chr1:859308-879961,SAMD11,0,H3K4me3,4.00192,EZH2
16,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2

In [125]:
H3K27me3 = SAMD11[SAMD11['Histone']=='H3K27me3']

In [126]:
H3K27me3[H3K27me3['distance with gene'] == H3K27me3['distance with gene'].min()]

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
5,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
6,chr1:859308-879961,SAMD11,0,H3K27me3,8.16884,EZH2
7,chr1:859308-879961,SAMD11,0,H3K27me3,5.45606,EZH2
9,chr1:859308-879961,SAMD11,0,H3K27me3,4.37253,EZH2
10,chr1:859308-879961,SAMD11,0,H3K27me3,4.41334,EZH2
11,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
13,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2

In [127]:
H3K27me3_min = H3K27me3[H3K27me3['distance with gene'] == H3K27me3['distance with gene'].min()]
H3K27me3_min = H3K27me3_min[H3K27me3_min['HsignalValue'] == H3K27me3_min['HsignalValue'].max()]

In [128]:
H3K27me3_min

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
6,chr1:859308-879961,SAMD11,0,H3K27me3,8.16884,EZH2

In [129]:
H3K27me3[H3K27me3['distance with gene'] == H3K27me3['distance with gene'].min()]

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
5,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
6,chr1:859308-879961,SAMD11,0,H3K27me3,8.16884,EZH2
7,chr1:859308-879961,SAMD11,0,H3K27me3,5.45606,EZH2
9,chr1:859308-879961,SAMD11,0,H3K27me3,4.37253,EZH2
10,chr1:859308-879961,SAMD11,0,H3K27me3,4.41334,EZH2
11,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
13,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2

In [132]:
histone

'H3K4me3'

In [133]:
gene

'SAMD11'

In [135]:
HISTONE = SAMD11[SAMD11['Histone']==histone]

In [136]:
len(HISTONE[HISTONE['distance with gene'] == HISTONE['distance with gene'].min()])

2

In [137]:
HISTONE_dis_min = HISTONE[HISTONE['distance with gene'] == HISTONE['distance with gene'].min()]

In [138]:
HISTONE_dis_min

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
15,chr1:859308-879961,SAMD11,0,H3K4me3,4.00192,EZH2
16,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2

In [139]:
HISTONE_dis_min_hsignal_max = HISTONE_dis_min[HISTONE_dis_min['HsignalValue'] == HISTONE_dis_min['HsignalValue'].max()]

In [140]:
HISTONE_dis_min_hsignal_max

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
16,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2

In [165]:
concatDF

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
0,chr1:852245-856396,LINC02593,0,H3K27me3,5.36218,EZH2
1,chr1:859308-879961,SAMD11,75,H3K4me3,7.76733,EZH2
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
...,...,...,...,...,...,...
19377,chrX:153275957-153285353,IRAK1,0,H3K9ac,4.33856,EP300
19378,chrX:153287024-153402578,MECP2,0,H3K79me2,4.90406,EP300
19379,chrX:153576892-153603006,FLNA,0,H3K36me3,4.41572,EP300
19380,chrX:153576892-153603006,FLNA,0,H3K4me2,3.32335,EP300
19381,chrY:16634453-16957530,NLGN4Y,0,H3K4me2,5.18598,EP300

In [166]:
## 동일한 유전자에서 같은 histone이 발견되면 distance 적은 걸로, 같으면 HsignalValue가 큰 값을 남기기. 
## 같으면 둘중 하나 없애
## list에 넣어서 drop(list)

unique_gene_list = concatDF['gene_name'].unique()
df = pd.DataFrame()
for gene in unique_gene_list:
    GENE = concatDF[concatDF['gene_name']==gene]
    if len(GENE[GENE.duplicated(subset='Histone', keep=False)]) > 0 :
        unique_histone_list = GENE['Histone'].unique()
        for histone in unique_histone_list:
            HISTONE = GENE[GENE['Histone']==histone]
            if len(HISTONE[HISTONE['distance with gene'] == HISTONE['distance with gene'].min()]) > 0 :
                HISTONE_dis_min = HISTONE[HISTONE['distance with gene'] == HISTONE['distance with gene'].min()]
                HISTONE_dis_min_hsignal_max = HISTONE_dis_min[HISTONE_dis_min['HsignalValue'] == HISTONE_dis_min['HsignalValue'].max()]
                df = pd.concat([df, HISTONE_dis_min_hsignal_max]) 

            else : df  = pd.concat([df, HISTONE[HISTONE['distance with gene'] == HISTONE['distance with gene'].min()]])
    else : df = pd.concat([df, GENE])

In [167]:
df[df.duplicated(subset=['gene_name', 'Histone', 'HsignalValue'], keep=False)]

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
12,chr1:859308-879961,SAMD11,0,H3K4me1,4.61581,EZH2
14,chr1:859308-879961,SAMD11,0,H3K4me1,4.61581,EZH2
17,chr1:910584-917473,PERM1,0,H3K4me1,4.53346,EZH2
22,chr1:910584-917473,PERM1,0,H3K4me1,4.53346,EZH2
19,chr1:910584-917473,PERM1,0,H3K4me3,22.44895,EZH2
...,...,...,...,...,...,...
18660,chr8:19171204-19253729,SH2D4A,0,H3K4me3,4.31256,EP300
18983,chr9:12698554-12814376,LURAP1L-AS1,0,H3K79me2,3.73694,EP300
18985,chr9:12698554-12814376,LURAP1L-AS1,0,H3K79me2,3.73694,EP300
18984,chr9:12775019-12823059,LURAP1L,0,H3K79me2,3.73694,EP300
18986,chr9:12775019-12823059,LURAP1L,0,H3K79me2,3.73694,EP300

In [168]:
df.drop_duplicates(subset=['gene_name', 'Histone', 'HsignalValue'], keep='first')
df.drop_duplicates(subset=['gene_name', 'Histone', 'HsignalValue'], keep='first', inplace=True)
df.reset_index(drop=True, inplace=True)

In [169]:
df

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
0,chr1:852245-856396,LINC02593,0,H3K27me3,5.36218,EZH2
1,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2
2,chr1:859308-879961,SAMD11,0,H3K27me3,8.16884,EZH2
3,chr1:859308-879961,SAMD11,0,H3K4me1,4.61581,EZH2
4,chr1:910584-917473,PERM1,0,H3K4me1,4.53346,EZH2
...,...,...,...,...,...,...
12632,chrX:153275957-153285353,IRAK1,0,H3K9ac,4.33856,EP300
12633,chrX:153287024-153402578,MECP2,0,H3K79me2,4.90406,EP300
12634,chrX:153576892-153603006,FLNA,0,H3K36me3,4.41572,EP300
12635,chrX:153576892-153603006,FLNA,0,H3K4me2,3.32335,EP300
12636,chrY:16634453-16957530,NLGN4Y,0,H3K4me2,5.18598,EP300

In [173]:
pivotDF1 = pd.pivot_table(
    data = df,
    index = ['Pos', 'gene_name'],
    columns = ['Histone'],
    fill_value = 0,
    values = 'HsignalValue'
)
pivotDF1

,Histone,H3K27me3,H3K36me3,H3K4me1,H3K4me2,H3K4me3,H3K79me2,H3K9ac,H3K9me3,H4K20me1
Pos,gene_name,,,,,,,,,
chr10:100216834-100995619,HPSE2,0.00000,0.0,0.0,5.81644,0.00000,0.0,0.0,0.0,0.0
chr10:101156627-101190381,GOT1,0.00000,0.0,0.0,3.98603,0.00000,0.0,0.0,0.0,0.0
chr10:101286107-101290934,LINC01475,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
chr10:101286705-101288224,AL513542.1,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
chr10:101292699-101296281,NKX2-3,8.02894,0.0,0.0,13.50215,9.78393,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
chrX:9217960-9243246,AC003684.1,0.00000,0.0,0.0,4.01233,0.00000,0.0,0.0,0.0,0.0
chrX:9983294-10112514,WWC3,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0
chrX:99899192-99930785,SRPX2,0.00000,0.0,0.0,0.00000,4.75055,0.0,0.0,0.0,0.0
chrX:9992882-10006694,WWC3-AS1,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0
chrY:16634453-16957530,NLGN4Y,0.00000,0.0,0.0,5.18598,0.00000,0.0,0.0,0.0,0.0

In [174]:
concatDF

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer
0,chr1:852245-856396,LINC02593,0,H3K27me3,5.36218,EZH2
1,chr1:859308-879961,SAMD11,75,H3K4me3,7.76733,EZH2
2,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
3,chr1:859308-879961,SAMD11,0,H3K27me3,7.76273,EZH2
4,chr1:859308-879961,SAMD11,0,H3K27me3,6.83947,EZH2
...,...,...,...,...,...,...
19377,chrX:153275957-153285353,IRAK1,0,H3K9ac,4.33856,EP300
19378,chrX:153287024-153402578,MECP2,0,H3K79me2,4.90406,EP300
19379,chrX:153576892-153603006,FLNA,0,H3K36me3,4.41572,EP300
19380,chrX:153576892-153603006,FLNA,0,H3K4me2,3.32335,EP300
19381,chrY:16634453-16957530,NLGN4Y,0,H3K4me2,5.18598,EP300

In [177]:
df['value'] = 1
df

,Pos,gene_name,distance with gene,Histone,HsignalValue,enhancer,value
0,chr1:852245-856396,LINC02593,0,H3K27me3,5.36218,EZH2,1
1,chr1:859308-879961,SAMD11,0,H3K4me3,6.83775,EZH2,1
2,chr1:859308-879961,SAMD11,0,H3K27me3,8.16884,EZH2,1
3,chr1:859308-879961,SAMD11,0,H3K4me1,4.61581,EZH2,1
4,chr1:910584-917473,PERM1,0,H3K4me1,4.53346,EZH2,1
...,...,...,...,...,...,...,...
12632,chrX:153275957-153285353,IRAK1,0,H3K9ac,4.33856,EP300,1
12633,chrX:153287024-153402578,MECP2,0,H3K79me2,4.90406,EP300,1
12634,chrX:153576892-153603006,FLNA,0,H3K36me3,4.41572,EP300,1
12635,chrX:153576892-153603006,FLNA,0,H3K4me2,3.32335,EP300,1
12636,chrY:16634453-16957530,NLGN4Y,0,H3K4me2,5.18598,EP300,1

In [185]:
pivotDF2 = pd.pivot_table(
    data=df,
    index=['Pos', 'gene_name'],
    columns=['enhancer'],
    fill_value=0,
    values='value'
)
pivotDF2

enhancer                              EP300  EZH2
Pos                       gene_name
chr10:100216834-100995619 HPSE2           1     0
chr10:101156627-101190381 GOT1            1     0
chr10:101286107-101290934 LINC01475       0     1
chr10:101286705-101288224 AL513542.1      0     1
chr10:101292699-101296281 NKX2-3          0     1
...                                     ...   ...
chrX:9217960-9243246      AC003684.1      1     0
chrX:9983294-10112514     WWC3            1     0
chrX:99899192-99930785    SRPX2           1     0
chrX:9992882-10006694     WWC3-AS1        1     0
chrY:16634453-16957530    NLGN4Y          1     0

[7401 rows x 2 columns]

In [179]:
mergedDF = pivotDF1.merge(pivotDF2, left_index=True, right_index=True)
mergedDF

,,H3K27me3,H3K36me3,H3K4me1,H3K4me2,H3K4me3,H3K79me2,H3K9ac,H3K9me3,H4K20me1,EP300,EZH2
Pos,gene_name,,,,,,,,,,,
chr10:100216834-100995619,HPSE2,0.00000,0.0,0.0,5.81644,0.00000,0.0,0.0,0.0,0.0,1,0
chr10:101156627-101190381,GOT1,0.00000,0.0,0.0,3.98603,0.00000,0.0,0.0,0.0,0.0,1,0
chr10:101286107-101290934,LINC01475,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0,1
chr10:101286705-101288224,AL513542.1,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0,1
chr10:101292699-101296281,NKX2-3,8.02894,0.0,0.0,13.50215,9.78393,0.0,0.0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
chrX:9217960-9243246,AC003684.1,0.00000,0.0,0.0,4.01233,0.00000,0.0,0.0,0.0,0.0,1,0
chrX:9983294-10112514,WWC3,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1,0
chrX:99899192-99930785,SRPX2,0.00000,0.0,0.0,0.00000,4.75055,0.0,0.0,0.0,0.0,1,0
chrX:9992882-10006694,WWC3-AS1,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1,0
chrY:16634453-16957530,NLGN4Y,0.00000,0.0,0.0,5.18598,0.00000,0.0,0.0,0.0,0.0,1,0

In [182]:
## EP300과 EZH2 가 둘다 1이거나 둘다 0인 데이터 삭제
mergedDF = mergedDF[mergedDF['EP300']!=mergedDF['EZH2']]
mergedDF

,,H3K27me3,H3K36me3,H3K4me1,H3K4me2,H3K4me3,H3K79me2,H3K9ac,H3K9me3,H4K20me1,EP300,EZH2
Pos,gene_name,,,,,,,,,,,
chr10:100216834-100995619,HPSE2,0.00000,0.0,0.0,5.81644,0.00000,0.0,0.0,0.0,0.0,1,0
chr10:101156627-101190381,GOT1,0.00000,0.0,0.0,3.98603,0.00000,0.0,0.0,0.0,0.0,1,0
chr10:101286107-101290934,LINC01475,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0,1
chr10:101286705-101288224,AL513542.1,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0,1
chr10:101292699-101296281,NKX2-3,8.02894,0.0,0.0,13.50215,9.78393,0.0,0.0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
chrX:9217960-9243246,AC003684.1,0.00000,0.0,0.0,4.01233,0.00000,0.0,0.0,0.0,0.0,1,0
chrX:9983294-10112514,WWC3,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1,0
chrX:99899192-99930785,SRPX2,0.00000,0.0,0.0,0.00000,4.75055,0.0,0.0,0.0,0.0,1,0
chrX:9992882-10006694,WWC3-AS1,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1,0
chrY:16634453-16957530,NLGN4Y,0.00000,0.0,0.0,5.18598,0.00000,0.0,0.0,0.0,0.0,1,0

In [183]:
# active
finalDF = mergedDF.iloc[:, :-1]
finalDF

,,H3K27me3,H3K36me3,H3K4me1,H3K4me2,H3K4me3,H3K79me2,H3K9ac,H3K9me3,H4K20me1,EP300
Pos,gene_name,,,,,,,,,,
chr10:100216834-100995619,HPSE2,0.00000,0.0,0.0,5.81644,0.00000,0.0,0.0,0.0,0.0,1
chr10:101156627-101190381,GOT1,0.00000,0.0,0.0,3.98603,0.00000,0.0,0.0,0.0,0.0,1
chr10:101286107-101290934,LINC01475,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0
chr10:101286705-101288224,AL513542.1,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0
chr10:101292699-101296281,NKX2-3,8.02894,0.0,0.0,13.50215,9.78393,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
chrX:9217960-9243246,AC003684.1,0.00000,0.0,0.0,4.01233,0.00000,0.0,0.0,0.0,0.0,1
chrX:9983294-10112514,WWC3,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1
chrX:99899192-99930785,SRPX2,0.00000,0.0,0.0,0.00000,4.75055,0.0,0.0,0.0,0.0,1
chrX:9992882-10006694,WWC3-AS1,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1
chrY:16634453-16957530,NLGN4Y,0.00000,0.0,0.0,5.18598,0.00000,0.0,0.0,0.0,0.0,1

In [184]:
finalDF.columns.values[-1] = 'enhancer'
finalDF

,,H3K27me3,H3K36me3,H3K4me1,H3K4me2,H3K4me3,H3K79me2,H3K9ac,H3K9me3,H4K20me1,enhancer
Pos,gene_name,,,,,,,,,,
chr10:100216834-100995619,HPSE2,0.00000,0.0,0.0,5.81644,0.00000,0.0,0.0,0.0,0.0,1
chr10:101156627-101190381,GOT1,0.00000,0.0,0.0,3.98603,0.00000,0.0,0.0,0.0,0.0,1
chr10:101286107-101290934,LINC01475,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0
chr10:101286705-101288224,AL513542.1,7.41865,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0
chr10:101292699-101296281,NKX2-3,8.02894,0.0,0.0,13.50215,9.78393,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
chrX:9217960-9243246,AC003684.1,0.00000,0.0,0.0,4.01233,0.00000,0.0,0.0,0.0,0.0,1
chrX:9983294-10112514,WWC3,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1
chrX:99899192-99930785,SRPX2,0.00000,0.0,0.0,0.00000,4.75055,0.0,0.0,0.0,0.0,1
chrX:9992882-10006694,WWC3-AS1,0.00000,0.0,0.0,4.41356,0.00000,0.0,0.0,0.0,0.0,1
chrY:16634453-16957530,NLGN4Y,0.00000,0.0,0.0,5.18598,0.00000,0.0,0.0,0.0,0.0,1

In [186]:
finalDF.to_csv("22_final_data.HepG2.Histone.Enhancer.csv")

In [ ]:
# reshape dataframe

In [ ]:
finalDf.to_csv("final_data.HepG2.Histone.Enhancer.csv")